---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Services from '../components/Services.astro';
import About from '../components/About_us.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="ProHVAC | Reliable Air Conditioning Services">
	<Header />
	<main>
		<Hero />
		<Services />
		<About />
		<Contact />
	</main>
	<Footer />
</Layout>
